# [<%= String.capitalize(struct.project) %>](<%= Gitlog.github_repo_url(struct) %>)

## Branch Timeline:

### <%= branch %>

<%= for pr <- prs do %>
  #### [<%= pr.number %>] - (<%= pr.merged_at %>) - [<%= pr.title %>](<%= Gitlog.pull_url(pr, struct) %> )

  <%= pr.body %>
<% end %>
